__pycache__
venv
dev_venv/

Results/Test_Results.json
Results/visualizations/

# Ignore all files and subdirectories in the Model folder

.env

ardent-sdk/
**/ardent_sdk/

requirements-dev.txt
.cursor

# Databricks ephemeral cache
Environment/Databricks/ephemeral.json

.DS_Store
*/.DS_Store
*/**/.DS_Store

# Temporary files for test coordination
.tmp/

Environment/Airflow/logs/*
tmp_airflow_tests/*
.idea/*

# Ignore all .gitkeep files in Environment/Airflow recursively
Environment/Airflow/**/.gitkeep